
       .Banner {
              width: auto;
              height: 600px;
              }
        h1 {
            font-family: Georgia, serif;
            color: rgb(47,79,79);
            font-size: 120%
            font-weight: 1000;
        }  
        
        body {
            background-color: rgb(245, 183, 177);
        }

       p {
              font-size: 110%
       }
            
        
