
       .Banner {
              width: 100%;
              
              }
        h1 {
            font-family: Georgia, serif;
            color: rgb(47,79,79);
            font-size: 120%
            font-weight: 1000;
        }  
        
        body {
            background-color: rgb(245, 183, 177);
        }

       p {
              font-size: 110%
       }
            
       .button {
              border-radius: 10px;
              width: 200px;
              height: 150px;
       }

       .buttontable {
              border-spacing: 15px;
       }
